name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build scripts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Compile
        run: |
          BUILD=$(($(git rev-list --count --first-parent HEAD)+3500))
          TODAY=$(date +"%d.%m.%y")
          echo "BUILD=${BUILD}" >> "$GITHUB_ENV"
          echo "TODAY=${TODAY}" >> "$GITHUB_ENV"
          echo "Build number ${BUILD}"
          mkdir -p ciout
          LAST=$(<current/last)
          if [ "$LAST" == "" ]; then LAST=1; fi
          if [ -f current/last_pl ]; then LAST_PL=$(<current/last_pl); else LAST_PL="$LAST" ; fi
          php update-manager/update-manager.php dscript "ciout/pl.txt" . pl ${BUILD} || exit 1
          cp misc/chiru.file ciout
          cp misc/game.hash ciout
          cp misc/default.cfg ciout
          cp misc/pl.cfg ciout
          cd ciout
          zip -qry umineko-pl-scripts_r${BUILD}_dev.zip pl.txt pl.cfg || exit 1
          cd ..
          php update-manager/update-manager.php script ciout/pl.txt "ciout/pl.file" "$LAST_PL" || exit 1
          cd ciout
          zip -qry umineko-pl-scripts_r${BUILD}.zip pl.file pl.cfg || exit 1
          cd ..
          git show -s --format="%s" > release_notes.md
          echo "Refer to https://forum.umineko-project.org for more details." >> release_notes.md

      - name: Release
        if: github.repository_owner == ${{ github.repository_owner }}
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: z${{ env.BUILD }}
          release_name: Umineko Scripts r${{ env.BUILD }}
          body_path: release_notes.md
          draft: false
          prerelease: false

      - name: Upload PL
        if: github.repository_owner == ${{ github.repository_owner }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ciout/umineko-pl-scripts_r${{ env.BUILD }}.zip
          asset_name: umineko-pl-scripts_r${{ env.BUILD }}.zip
          asset_content_type: application/zip
